// fonts


// colors


// breakpoints


@mixin full($pad: 0) {
  position: absolute;
  top: $pad;
  left: $pad;
  right: $pad;
  bottom: $pad;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade($duration: .5s, $delay: 0) {
  transition: opacity $duration, visibility $duration;
  transition-delay: $delay+s;
}

@mixin shadow($size) {
  @if $size == small {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .75);
  } @else {
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .25);
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
}

.app {

}
